body{
  background-image:url(img/background.jpg);
  font-family:"Gorgia";
  font-size:25px;
  text-align: center;
  color:white;
}

#title{
  color:white;
  text-align: center;
  font-style: italic;

}
.img{
  width: 80%;

}

table{
  table-layout: fixed;
  border-collapse: collapse;
  background-color: rgba( 255, 255,255,0);
}

th,td{
  color:white;
  text-align: center;
}


.charac{
  text-shadow : 6px 6px 5px #ff00de;
}

.earth,.mars{
  color:white;
  text-shadow : 6px 6px 5px #FFFFFF;
}

.mercury,.saturn{
  color:white;
  text-shadow : 6px 6px 5px #D9E5FF;
}