body{
  background-image:url(img/background.jpg);
  font-family:"Gorgia";
  font-size:20px;
  text-align: center;
  color:white;
}

#title{
  color:white;
  text-align: center;
  font-style: italic;

}
.img{
  width: 70%;

}

table{
  table-layout: fixed;
  border-collapse: collapse;
  background-color: rgba( 255, 255,255,0);
  
}

th,td{
  color:white;
  text-align: center;
}
